<section class="sidebar" *ngIf="clicked" [ngStyle]="clicked ? {'width': '14vw'} : {'width': '0'}">
    <div class="sidebar-content">
        <div class="sidebar-button" (click)="goToHome()">
            <p-icon 
            [ngStyle]="{'margin-right':'20px'}"
            [theme]="'dark'"
            [size]="'small'"
            [name]="'home'" 
            [aria]="{ 'aria-label': 'Menu Lines icon' }">
        </p-icon>   
        <p-text size="small" theme="dark">Home</p-text>
        </div>
        <div class="sidebar-button" (click)="goToRegister()">
            <p-icon 
            [ngStyle]="{'margin-right':'20px'}"
            [theme]="'dark'"
            [size]="'small'"
            [name]="'document'" 
            [aria]="{ 'aria-label': 'Menu Lines icon' }">
        </p-icon>   
        <p-text size="small" theme="dark">Cadastrar</p-text>
        </div>
        <div class="sidebar-button" (click)="goToList()">
            <p-icon 
            [ngStyle]="{'margin-right':'20px'}"
            [theme]="'dark'"
            [size]="'small'"
            [name]="'work'" 
            [aria]="{ 'aria-label': 'Menu Lines icon' }">
            </p-icon>   
            <p-text size="small" theme="dark">Listagem</p-text>
        </div>
    </div>

</section>

