<main class="screen">
    <app-header (click)="openSidebar()">
    </app-header>
    <app-sidebar [clicked]="clicked">
    </app-sidebar>

    <section class="container">
        <div class="header">
            <p-text size="large" class="title">Novo Cadastro</p-text>
            <div class="switch-wrapper">
                <p-text size="small">Alterar:</p-text>
                <p-switch [checked]="checked" (switchChange)="onSwitchChange($event)"><p-text size="small">{{ checked ? 'Fornecedor' : 'Empresa' }}</p-text></p-switch>
            </div>
        </div>
        <form (ngSubmit)="checked ? cadastraFornecedor() : cadastraEmpresa()"  [formGroup]="checked ? formularioFornecedor : formularioEmpresa" class="form" method="POST">
            <p-accordion
                [heading]="'Dados Pessoais'"
                [tag]="'h2'"
                [size]="'small'"
                [open]="personalData"
                (accordionChange)="onAccordion1Change($event)">
                <div class="inputs-wrapper" id="personalData">
                    <p-text-field-wrapper class="input-large " [label]="checked ? 'Nome Completo:' : 'Nome Fantasia'" [hideLabel]="false">
                        <input [type]="'text'" [name]="'name'"  formControlName="nome" required/>
                    </p-text-field-wrapper>
                    <p-text-field-wrapper class="input-medium" [label]="checked ? 'CPF/CNPJ:' : 'CNPJ'" [hideLabel]="false">
                        <input [type]="'text'" [name]="'cnpjOrCpf'" formControlName='cgc' (change)="setMask()" [(ngModel)]="inputValue" required/>
                    </p-text-field-wrapper>
                    <p-text-field-wrapper *ngIf="checked" class="input-large " [label]="'Email'"  [hideLabel]="false">
                        <input [type]="'text'" [name]="'email'"  formControlName="email" required/>
                    </p-text-field-wrapper>
                    <p-text-field-wrapper *ngIf="checked && isCpf" class="input-medium " [label]="'RG:'" [hideLabel]="false">
                        <input [type]="'text'" [name]="'rg'"  formControlName="rg" required/>
                    </p-text-field-wrapper>
                    <p-text-field-wrapper *ngIf="checked && isCpf" class="input-medium "  [label]="'Data de nascimento:'" [hideLabel]="false">
                        <input [type]="'date'" [name]="'birthdate'"  formControlName="birthdate" [(ngModel)]="birthdate" required/>
                    </p-text-field-wrapper>
                    
                </div>
            </p-accordion>
            <p-accordion
                [heading]="'Localidade'"
                [tag]="'h2'"
                [size]="'small'"
                [open]="location"
                (accordionChange)="onAccordion2Change($event)">
                <div class="inputs-wrapper" formGroupName="endereco">
                    <p-text-field-wrapper class="input-medium " [label]="'CEP:'"  [hideLabel]="false">
                        <input [type]="'text'" [name]="'cep'"  formControlName="cep" (change)="getCep()" [(ngModel)]="cep" required/>
                    </p-text-field-wrapper>
                    <p-text-field-wrapper class="input-medium" [label]="'Rua:'" [hideLabel]="false">
                        <input [type]="'text'" [name]="'logradouro'"  formControlName="logradouro" [(ngModel)]="endereco.logradouro" required/>
                    </p-text-field-wrapper>
                    <p-text-field-wrapper class="input-medium " [label]="'Bairro:'" [hideLabel]="false">
                        <input [type]="'text'" [name]="'bairro'"  formControlName="bairro" [(ngModel)]="endereco.bairro" required/>
                    </p-text-field-wrapper>
                    <p-text-field-wrapper class="input-medium " [label]="'Cidade:'" [hideLabel]="false">
                        <input [type]="'text'" [name]="'cidade'"   formControlName="cidade" [(ngModel)]="endereco.localidade" required/>
                    </p-text-field-wrapper>
                    <p-text-field-wrapper class="input-medium " [label]="'UF:'" [hideLabel]="false">
                        <input [type]="'text'" [name]="'uf'"   formControlName="uf" [(ngModel)]="endereco.uf" required/>
                    </p-text-field-wrapper>
                    <p-text-field-wrapper class="input-small " [label]="'Numero:'" [hideLabel]="false">
                        <input [type]="'text'" [name]="'numero'"  formControlName="numero" />
                    </p-text-field-wrapper>
                    <p-text-field-wrapper class="input-large" [label]="'Complemento:'" [hideLabel]="false" >
                        <input [type]="'text'" [name]="'complemento'"  formControlName="complemento" [maxLength]="24" />
                    </p-text-field-wrapper>

                </div>
            </p-accordion>
            <p-accordion
                *ngIf="!checked"
                [heading]="'Trabalhista'"
                [tag]="'h1'"
                [size]="'small'"
                [open]="work"
                (accordionChange)="onAccordion3Change($event)">
                <div class="inputs-wrapper">
                    <p-select-wrapper [filter]="true" [label]="'Selecione um fornecedor:'">
                        <select [name]="'fornecedores'" (change)="fornecedorSelecionado(fornecedor)" *ngFor="let fornecedor of fornecedores">
                          <option></option>
                          <option [value]="fornecedor.id">{{ fornecedor.nome }}</option>
                        </select>
                    </p-select-wrapper>
                    <div class="selected-wrapper" *ngIf="fornecedoresSelecionados.length == 1">
                        <p-text size="small">Fornecedores selecionados:</p-text>
                        <div *ngFor="let fornecedor of fornecedoresSelecionados" class="fornecedor-box">
                            <p-text size="small">{{ fornecedor.nome }}</p-text>
                            <p-icon [name]="'delete'" [color]="'brand'" [aria]="{ 'aria-label': 'Highway icon' }" (click)="deletarFornecedorSelecionado(fornecedor.id)"></p-icon>
                        </div>
                    </div>
                </div>
            </p-accordion>
            <p-button-group class="buttons">
                <p-button [variant]="'secondary'" [icon]="'delete'">Cancelar</p-button>
                <p-button [variant]="'primary'" [icon]="'add'" [type]="'submit'" [disabled]="checked ? !formularioFornecedor.valid : !formularioEmpresa.valid">Cadastrar</p-button>
              </p-button-group>
        </form>
    </section>
 </main>
